.orange {
	color: orange;
}
.grey {
	color: #333333;
}
.light-grey {
	color: #4f4f4f;
}
.extra-light-grey {
	color: #bdbdbd;
}
.card-information {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	max-width: 200px;
}
.card-title {
	font-size: 10px;
}
.card-item {
	font-size: 12px;
}
.badge-info {
	background-color: #f2994a;
}

@media screen and (max-width: 767px) {
	.heading {
		font-size: x-large;
	}
	.card-information {
		box-shadow: initial;
		max-width: initial;
	}
}
